.grid {
    display: grid;
    grid-template-areas: "header"
                         "main"
                         "footer";
    grid-gap: 1rem;
}

header {
    grid-area: header;
}

main {
    grid-area: main;
}

footer {
    grid-area: footer;
}

@media all and (max-width: 700px) {
    aside,
    article {
        grid-column: 1 / 4;
    }
}

/* Demo Specific Styles */
body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
}

header,
main,
footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
}